*,
*::after,
*::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a{
    color: inherit;
    text-decoration: none;
}

body{
    font-family: 'Spline Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

.container{
    background-color: rgba(0, 0, 0, 0.911);
    position: relative;
    max-width: 900px;
    margin: 0 auto;
}

.columns__container{
    display: flex;
    justify-content: space-between;
}

.header{
    display: flex;
}

.header__content{
    color: white;
    line-height: 30px;
    padding-top: 50px;
    margin-left: 15px;
}

.post{
    font-size: 14px;
    color: rgb(167, 167, 167);
}

.logo{
    border-radius: 70%;
    padding-top: 10px;
    padding-left: 10px;
    height: 200px;
    width: 200px;
}

ul{
    list-style: none;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.left-column__bottom{
    padding-top: 25px;
    
}

.contact__item{
    color: white;
    text-align: center;
    line-height: 75px;
    font-size: 20px;
    align-items: center;
    min-height: 50px;
    display: flex;
    position: relative;
    justify-content: left;
    padding-left: 110px;
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 23px;
    background-position-y: 50%;
    background-position-x: 0%;
}

.main__title{
    color: white;
    padding-left: 35px;
    background-repeat: no-repeat;
    height: 50px;
}

.title__content{
    padding-top: 17px;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}

.main__title-bg{
    background-image: url(images/titlebg1.png);
}

.contact__email{
    background-image: url(images/mail.png);
}

.contact__vk{
    background-image: url(images/vklogo.png);

}

.contact__git{
    background-image: url(images/gitlogo.png);
}

.languages__item{
    display: flex;
    color: white;
    line-height: 60px;
    position: relative;
    justify-content: space-between;
    background-repeat: no-repeat;
    font-size: 20px;
    background-position-x: 80%;
    background-position-y: 50%;
    background-size: 255px;
}

.level-ru{
    background-image: url(images/level-ru.png);
}

.level-en{
    background-image: url(images/level-en.png);
}

.languages__title{
    color: white;
    padding-left: 35px;
    background-repeat: no-repeat;
    height: 50px;
}

.languages__title-bg{
    background-image: url(images/titlebg2.png);
}

.languages__title-content{
    padding-top: 15px;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}

.hobbies__title{
    color: white;
    padding-left: 35px;
    background-repeat: no-repeat;
    height: 50px;
}

.hobbies__title-bg{
    background-image: url(images/titlebg3.png);
}

.hobbies__title-content{
    padding-top: 17px;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}

.hobbies__list{
    display: flex;
    justify-content: space-between;
    margin-right: 25px;
}

.hobbies__item{
    color: white;
    padding-top: 50px;
    font-size: 15px;
    background-repeat: no-repeat;
    background-size: 40px;
    background-position-x: 50%;
    background-position-y: 0%;
}

.music{
    background-image: url(images/music.png);
}

.movies{
    background-image: url(images/movies.png);
}

.art{
    background-image: url(images/art.png);
}

.right-column{
    background-color: rgba(255, 255, 255, 0.803);
    border-radius: 3%;
    max-width: 480px;
    padding-left: 10px;
    margin: 10px 13px 10px 5px;
}

.about__me{
    padding-top: 30px;
}

.about-me__text{
    padding-top: 42px;
}

.about-me__title{
    background-color: rgba(0, 0, 0, 0.788);
    border-radius: 5%;
    text-align: center;
    width: 250px;
    height: 30px;
    color: white;
    padding-top: 6px;
}

.education{
    padding-top: 60px
}

.education__text{
    padding-top: 30px;
}

.education__title{
    background-color: rgba(0, 0, 0, 0.788);
    border-radius: 5%;
    text-align: center;
    width: 250px;
    height: 30px;
    color: white;
    padding-top: 6px;
}

.skills__first-stroke{
    padding-top: 30px
}


.skills__title{
    background-color: rgba(0, 0, 0, 0.788);
    border-radius: 5%;
    text-align: center;
    width: 250px;
    height: 30px;
    color: white;
    padding-top: 6px;
}

.skills__list-first{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    line-height: 30px;
    text-align: center;
}

.skills__list-second{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    line-height: 30px;
    text-align: center;
}

.skills__item{
    font-weight: 800;
    font-size: 17px;
    line-height: 26px;
    width: 143px;
    height: 90px;
    padding-right: 52px;
}

.projects{
    padding-top: 30px;
}
.projects__title{
    background-color: rgba(0, 0, 0, 0.788);
    border-radius: 5%;
    text-align: center;
    width: 250px;
    height: 30px;
    color: white;
    padding-top: 6px;
}

.footer{
    background-color: rgba(165, 71, 42, 0.836);
    
}

.rss-logo{
    width: 100px;
    height: 50px;
}

.rss{
    margin-left: 410px;
}

.bg__video{
    position: fixed;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
}

.projects-image{
    padding-top: 10px;
    width: 250px;
    padding-left: 20px;
}